
<div class="form-inline">
<!--
    O TwoWay DataBind não funciona em form simples, então o form foi alterado para div.
    Caso dê erro no ngModel, só dar um espaço e removê-lo
-->
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="Buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          <i class="{{exibirImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
          {{ exibirImagem ? 'Ocultar' : 'Exibir'}}  Imagens
        </button>
      </th>
      <th>Cód</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let e of obterEventos()">
      <td>
        <img *ngIf="exibirImagem"
        src="http://localhost:5000/img/{{ e.imagemURL }}"
        [style.width.px]="imgLargura"
        [style.margin.px]="imgMargem">
      </td>
      <td> {{ e.id }} </td>
      <td> {{ e.tema }} </td>
      <td> {{ e.local }} </td>
      <td> {{ e.dataEvento | dateTimeFormat }} </td>
      <td> {{ e.qtdPessoas }} </td>
      <td>
        <div *ngIf="!e.lotes.length">
          Não informado
        </div>
        <div *ngIf="e.lotes.length">
          {{ e.lotes[0].nome | uppercase }}
        </div>


      </td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>

